<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
<div class="container-box">

    <div class="top-area">
        <h2>로그인</h2>
        <input type="text" placeholder="ID"><br>
        <input type="password" placeholder="password">
    </div>

    <div class="center">
        <button class="first">login</button>
        <label for="remember-check">
            <input type="checkbox" id="remember-check">아이디 저장하기
        </label>
        <a href="signup.html">회원가입</a>
    </div>
</div>

<link rel="stylesheet" href="style/style.css">
<script src="./style/loginscript.js"></script>
</body>
</html>