<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
<div class="container-box">
    <h2>로그인</h2>
    <input type="text" placeholder="아이디"><br>
    <input type="password" placeholder="비밀번호">

    <div class="options">
        <input type="checkbox" id="saveId"> <label for="saveId">로그인 정보 저장</label>
    </div>
    <a href="signup.html">회원가입</a>
</div>
</body>
</html>